﻿/*These styles are used in all Web pages throughout the site.*/
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

IE 6 png fix by TwinHelix Designs
http://www.twinhelix.com/css/iepngfix/

*/
-->
* {
	margin: 0;
}
html {
	height: 100%;
	text-align: center;
}
body {
	height: 100%;
	text-align: center;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px; /* the bottom margin is the negative value of the footer's height */;	
	min-width: 990px;
}
.wrapper_1column {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px;	/* the bottom margin is the negative value of the footer's height */;	
	background-image: url('http://www.reliasoft.com/images/bevel.gif');
	background-repeat: repeat-y;
	background-position: center top;
	min-width: 990px;
}
.wrapper_right_column {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px;	/* the bottom margin is the negative value of the footer's height */;	
	background-image: url('http://www.reliasoft.com/images/bevel_right_column.gif');
	background-repeat: repeat-y;
	background-position: center top;
	min-width: 990px;
}

.wrapper_full_width	{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -65px; /* the bottom margin is the negative value of the footer's height */;	
	min-width: 990px;
	width: 100%;
	background-image: url('http://www.weibull.com/images/right_sidebar_full_width.gif');
	background-repeat: repeat-y;
	background-position: right top;


}
.content {
	width: 970px;
	text-align: left;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}
.content_nobev {
	width: 990px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}

.content_full_width	{
	padding: 10px;
	text-align: left;
}

.sidebar_right {
	float: right;
	width: 185px;
	margin-right: 9px;
	display: inline; /*for IE */;
	text-align: left;
	padding-top: 10px;
}

.right_sidebar_full_width {
	float: right;
	width: 185px;
	margin-right: 9px;
	margin-left: 20px;
	display: inline; /*for IE */;
	text-align: left;
}

.main {
	display: inline; /*for IE */;
	float: left;
	width: 760px;
	padding-left: 10px;
	padding-right: 10px;
}

.push {
	height: 60px; /* .push must be the same height as .footer */;
	text-align: left;
	min-width: 990px;
	clear: both;
}
.footer {
	height: 60px; /* .push must be the same height as .footer */;
	text-align: left;
	min-width: 990px;
	clear: both;
}

.small	{
	font-size: 8pt;
}

.heading	{
	margin-bottom: 0px;
}

.buy_book	{
	width: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.resources_head	{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	color: black;
	margin-bottom: -10px;
	margin-top: 20px;
}

h1.home	{
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 10px;
}

h2.home	{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 4px;
	color: black;
}

.guide_text	{
	width: 290px;
	float: right;
	margin-top: 5px;
	display: inline;
}

.guide	{
	width: 330px;
	height: 115px;
}

.right	{
	float: right;
	margin-right: 10px;
	display: inline;
}

.left	{
	float: left;
	display: inline;
}

.divider	{
	float: none;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 635px;
}

.intro	{
	font-family: Verdana;
	font-size: 8pt;
	line-height: 150%;
	text-align: justify;
	width: 670px;
}

p	{
	font-family: Verdana;
	font-size: 10pt;
	line-height: 150%;
	margin-bottom: 10px;
}

.normal	{
	font-family: Verdana;
	font-size: 10pt;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 30px;

}

.announcements	{
	font-family: Verdana;
	font-size: 8pt;
	line-height: 150%;
	margin: 10px;
	padding-left: 0px;
}

.announcements li	{
	list-style: none;
	margin-bottom: 8px;
}

.articles	{
	font-family: Verdana;
	font-size: 8pt;
	line-height: 150%;
	margin: 10px;
	padding-left: 0px;
	
}

.articles li	{
	list-style: none;
	margin-bottom: 8px;
	padding-bottom: 8px;
		background-image: url('http://www.weibull.com/images/weibull_list_divider.gif');
	background-position: left bottom;
	background-repeat:no-repeat;
	
}

ul.links	{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	margin: 10px 10px 10px 30px;
	line-height: 150%;
	padding-left: 0px;
}

.plain li	{
	list-style: none;
	margin-left: -22px;
}

.alphabet	{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

h1	{
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
}

h2	{
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
	color: #0c4e9a;
	margin-bottom: 10px;
	margin-top: 4px;
}

h3	{
	font-family: Arial;
	font-size: 10pt;
	color: black;
	font-weight: bold;
	text-align: left;
	margin-top: 4px;
}


a:link {
	color: #0157a6;
}
a:visited {
	color: #0157a6;
}
a:hover {
	color: #990033;
}
a:active {
	color: #0157a6;
}
.breadcrumbs {
	font-family: Arial;
	color: #999999;
	font-size: 8pt;
	font-weight: bold;
	margin-left: -10px;
	text-decoration: none;
	margin-bottom: 0px;
}
a.none {
	text-decoration: none;
}
.hotwire_banner	{
	width: 100%;
	height: 76px;
	background-color: #FFCF00;
	background-image: url('http://www.weibull.com/hotwire/hotwire_logo.gif');
	background-repeat: no-repeat;
	background-position: right top;
	min-width: 650px;
	vertical-align: middle;
}

.hotwire_issues	{
	font-family: "Trebuchet MS";
	font-size: 10pt;
	padding-left: 0px;
	margin-left: 10px;
	font-weight: bold;
}

.hotwire_issues	li	{
	list-style: none;
	margin-bottom: 10px;

}

.hotwire_footer {
	font-family: Arial;
	font-size: 8pt;
	text-align: right;
}

.hotwire_figure	{
	text-align: center;
	font-weight: bold;
}


.math	{
	font-family: "Times New Roman", Times, serif;
	font-size: 11pt;
}


img {
	behavior: url('iepngfix.htc');
}
